doctype html
html
  head
    meta(charset="utf-8")
    title socket-io-demo
    meta(content="socket.ioとCreateJSのテスト", name="description")
    meta(name="viewport", content="width=device-width")
    // font
    link(href='http://fonts.googleapis.com/css?family=Marck+Script', rel='stylesheet', type='text/css')
    // CSS
    link(href="/components/normalize.css/normalize.css", rel="stylesheet")
    link(href="/css/index.css", rel="stylesheet")
    // JS
    script(src="/socket.io/socket.io.js")
    script(src="/components/easeljs/lib/easeljs-0.8.1.combined.js")
    script(src="/components/TweenJS/lib/tweenjs-0.6.1.combined.js")
  body
    article#main
      canvas#my-canvas(width=160, height=160)
      div#controller
        ul
          li#left ←
          li#up ↑
          li#down ↓
          li#right →
    script(src="bundle.js")
